.ag-theme-alpine {
  --ag-font-family: #{$font-family};
  --ag-font-size: #{$font-body};
  --ag-border-color: var(--mui-palette-border-light);
  --ag-cell-horizontal-border: solid var(--mui-palette-border-light);
  --ag-header-height: 40px;
  --ag-row-height: 40px;
  --ag-grid-size: 4px;

  --ag-header-background-color: var(--mui-palette-fill-main);
  --ag-header-column-resize-handle-width: 1px;
  --ag-header-column-resize-handle-height: 100%;
  --ag-header-column-resize-handle-color: var(--mui-palette-border-light);

  --ag-icon-size: 16px;
  --ag-alpine-active-color: var(--mui-palette-primary-main);
  --ag-modal-overlay-background-color: rgba(255, 255, 255, .8);
  --ag-row-hover-color: var(--mui-palette-fill-main);
  --ag-selected-row-background-color: var(--mui-palette-primary-main-light-9);
  --ag-odd-row-background-color: var(--mui-palette-common-white);
  

  &>div {
    display: flex;
  }

  .ag-root-wrapper {
    flex: 1;
    height: auto;
    max-height: 100%;
    border-top-color: var(--el-color-info-dark-2);
  }
  .ag-root-wrapper-body.ag-layout-normal {
    height: 100%;
  }
  .ag-row {
    font-size: unset;
  }
  .ag-header-row {
    font-weight: 500;
  }
  .ag-header-cell,
  .ag-header-group-cell {
    justify-content: center;
    padding: 0 10px;
  }
  .ag-header-group-cell-label,
  .ag-header-cell-label {
    justify-content: center;
  }
  .ag-header-select-all {
    margin: 0 5px;
  }
  .ag-header-cell-comp-wrapper:has(.ag-header-cell-text:empty) {
    display: none;
  }
  .ag-cell-label-container {
    text-align: center;
  }
  .ag-cell, .ag-full-width-row .ag-cell-wrapper.ag-row-group {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .ag-cell-wrapper {
    justify-content: center;
    width: 100%;
    line-height: 1.3;

    .ag-selection-checkbox {
      margin: 0;
      height: 38px;
    }

    .ag-selection-checkbox+.ag-cell-value {
      display: none;
    }
  }
  .ag-cell-value, .ag-group-value {
    padding: 8px 0;
  }
  .txt-wrap {
    white-space: normal;
    word-break: keep-all;
  }
  &:has(.no-data),
  &:has(.is-loading) {
    .ag-body-viewport {
      min-height: 200px;
    }
  }
  .ag-overlay {
    z-index: 2;
  }

  .ag-overlay-wrapper {
    padding-top: 40px !important;
  }

  .is-loading {
    --spinner-size: 36px;
    --spinner-line-size: 6px;
    --spinner-track-color: var(--color-gray-400);
    --spinner-thumb-color: var(--color-tertiary);
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--spinner-size);
    height: var(--spinner-size);
    margin: calc(var(--spinner-size) * -1 / 2) 0 0 calc(var(--spinner-size) * -1 / 2);
    box-shadow: inset 0 0 0 var(--spinner-line-size) var(--spinner-track-color);
    border-radius: 100%;
    font-size: 0;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.0943 27.3089C30.5824 28.5576 30.7936 30.8099 29.2797 32.0272C27.2583 33.6526 24.8982 34.8309 22.3546 35.4651C18.6663 36.3847 14.7815 36.113 11.2571 34.6891C7.73266 33.2651 4.74949 30.7619 2.73515 27.5383C1.34598 25.3152 0.466773 22.8281 0.141806 20.2547C-0.101582 18.3274 1.61486 16.854 3.55279 16.9895C4.93703 17.0863 5.9535 18.2971 6.14727 19.6712C6.37998 21.3213 6.95604 22.9141 7.84888 24.3429C9.18842 26.4866 11.1722 28.1512 13.516 29.0981C15.8597 30.0451 18.4431 30.2257 20.8958 29.6142C22.5306 29.2066 24.0515 28.461 25.3651 27.4357C26.459 26.5819 28.0313 26.417 29.0943 27.3089Z' fill='%233A6ED9'/%3E%3C/svg%3E%0A");
      animation: rotate 1s linear infinite;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.data-area {
  display: flex;
  flex-direction: column;
  .ag-theme-alpine {
    flex: 1 1 auto;
  }
  &.h-full {
    .ag-root-wrapper-body {
      flex: 1 1 0;
    }
  }
}