::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #0003;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: #0000004d;
  }
}
#root {
  height: 100%;
}
.app-wrapper {
  --gnb-height: #{$gnb-height};
  --lnb-width: #{$lnb-width};

  --layout-bg: #{$layout-bg};
  --layout-line: #{$layout-line};
  --layout-text: #{$layout-text};
  --layout-text-active: #{$layout-text-active};
  --layout-gnb-depth: #{$layout-gnb-depth};
  --layout-gnb-depth2: #{$layout-gnb-depth2};
  --layout-lnb-bg: #{$layout-lnb-bg};
  --layout-lnb-text: #{$layout-lnb-text};
  --layout-lnb-border-right: #{$layout-lnb-border-right};
  --layout-lnb-depth2-active: #{$layout-lnb-depth2-active};

  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--gnb-height);
  padding: 0 32px;
  border-bottom: 1px solid var(--layout-line);
  background: var(--layout-bg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  @at-root .header__logo {
    position: relative;
    line-height: 0;
    z-index: 1;
    &-link {
      display: inline-flex;
      height: 24px;
      color: var(--mui-palette-primary-main);
      line-height: 24px;
    }
  }
  @at-root .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: var(--lnb-width);
    .menu {
      display: flex;
      height: 100%;
      & > li {
        flex: 0 auto;
        height: 100%;
        & + li:before {
          content: '';
          position: absolute;
          top: 50%;
          width: 1px;
          height: 15px;
          margin-top: -7px;
          background: var(--layout-line);
        }
        .dth1 {
          position: relative;
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 24px;
          color: var(--layout-text);
          font-size: 18px;
          font-weight: 400;
          text-decoration: none;
          transition: color 0.2s ease-out;
          &::after {
            content: '';
            position: absolute;
            left: 24px;
            right: 24px;
            bottom: 0;
            height: 4px;
            background-color: var(--mui-palette-primary-main);
            transform: scale(0);
            transform-origin: bottom;
            transition: transform 0.2s ease-out;
          }
        }
        &.active {
          .dth1 {
            color: var(--layout-text-active);
            font-weight: 700;
            &::after {
              transform: scale(1);
            }
          }
        }
        &:hover {
          .dth1 {
            color: var(--layout-text-active);
          }
        }
      }
    }
  }
  @at-root .header__util {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.menu-search {
  width: 240px;
  .MuiAutocomplete-inputRoot {
    border-radius: 40px;
  }
}
.user-info {
  position: relative;
  .btn-user {
    font-size: 15px;
    line-height: 32px;
    padding-right: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.97656 4.12695L5.52656 7.67695C5.78656 7.93695 6.21656 7.93695 6.47656 7.67695L10.0166 4.12695' stroke='%23ABABAB' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }
}
.box-tooltip {
  visibility: hidden;
  position: absolute;
  right: 0;
  padding: 5px 0;
  margin-top: 15px;
  border-radius: 6px;
  background-color: #fff;
  // color: #fff;
  // background-color: var(--mui-palette-secondary-dark);
  box-shadow: 0px 3px 8px 0px rgba(75, 75, 77, 0.4);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  &:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 15px;
  }
  .btn {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    opacity: 0.8;
    padding: 5px 12px;
    &:hover {
      font-weight: 500;
      opacity: 1;
    }
  }
  :hover > & {
    visibility: visible;
    opacity: 1;
  }
}

.footer {
  margin-top: 24px;
  text-align: right;
  .copyright {
    color: var(--mui-palette-text-secondary);
    font-size: 13px;
  }
}

.container {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.lnb {
  width: var(--lnb-width);
  margin-left: 0;
  // border-right: 1px solid var(--layout-lnb-right);
  background: var(--layout-lnb-bg);
  transition: margin-left 0.5s ease;
  @at-root .lnb__title {
    display: block;
    padding: 40px 32px;
    color: var(--mui-palette-common-white);
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  @at-root .lnb__list {
    overflow-y: auto;
    color: var(--layout-lnb-text);
    line-height: 1.5;
    &::-webkit-scrollbar {
      border: none;
      background-color: var(--layout-lnb-bg);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--mui-palette-grey-700);
    }
    .l-link {
      position: relative;
      display: block;
      padding: 16px 32px;
      text-align: left;
      transition: color 0.2s ease-out;
      &:hover {
        color: var(--mui-palette-common-white);
        text-decoration: none;
      }
    }
    & > li {
      display: grid;
      grid-template-rows: min-content 0fr;
      overflow: hidden;
      transition: grid-template-rows 0.2s ease-out;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      & > .l-link {
        font-size: 16px;
        &[aria-expanded]::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 22px;
          width: 6px;
          height: 6px;
          margin-top: -6px;
          border: solid currentColor;
          border-width: 0 1px 1px 0;
          transform: rotate(45deg);
          transition: all 0.2s ease-out;
        }
        &[aria-expanded='true']::after {
          margin-top: -2px;
          transform: rotate(-135deg);
        }
      }
      .depth {
        min-height: 0;
        & > li {
          &:first-child {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
          }
          & > .l-link::before {
            content: '';
            display: inline-block;
            width: 3px;
            height: 3px;
            margin: -2px 8px 0 0;
            vertical-align: middle;
            border-radius: 100%;
            background-color: currentColor;
          }
        }
        & > li.active {
          & > .l-link {
            color: var(--mui-palette-common-white);
            font-weight: $font-weight-medium;
            background-color: var(--mui-palette-secondary-main);
          }
        }
      }
      &.open {
        grid-template-rows: min-content 1fr;
      }
      &:has([aria-expanded='true']) {
        grid-template-rows: min-content 1fr;
      }
    }
    & > li.active {
      & > .l-link {
        color: var(--mui-palette-common-white);
        font-weight: $font-weight-bold;
        background-color: var(--mui-palette-primary-main);
      }
    }
  }
}

.contents-wrapper {
  flex: 1;
  padding: 24px;
  overflow-y: scroll;
  background-color: var(--mui-palette-fill-light);
  &::-webkit-scrollbar {
    background: #eee;
  }
}
.contents {
  padding: 30px;
  background-color: #fff;
  // box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
}

.page-title {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
  .location {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin-left: auto;
  }
}
