:root {
  font-size: $font-body;
}

html,
body {
  min-width: $min-width;
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  color: $color-paragraph;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: $font-weight;
  line-height: $line-height;

  @if ($letter-spacing) {
    letter-spacing: $letter-spacing;
  }

  @if ($bg-body) {
    background: $bg-body;
  }

  word-break: keep-all;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

body,
div,
p,
header,
section,
nav,
footer,
article,
figure,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
input,
textarea,
button,
select,
datalist,
option,
span,
strong,
b,
em,
i,
a,
label,
pre,
code {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer,
section,
article,
nav,
aside {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0;
}

th {
  font-weight: $font-weight-th;
}

h1,
h2,
h3,
h4,
h5,
h6,
[role="heading"] {
  color: $color-headline;
  font-weight: $font-weight-headline;
}

img {
  border: 0;
  vertical-align: top;
}

fieldset,
iframe {
  border: 0;
  vertical-align: top;
}

textarea {
  resize: none;
}

ul,
ol {
  list-style: none;
}

em,
address,
i {
  font-style: normal;
}

u {
  text-underline-position: under;
}

sub {
  line-height: 1;
  vertical-align: bottom;
}

sup {
  line-height: 1;
  vertical-align: top;
}

hr,
legend {
  display: none;
}

caption {
  overflow: hidden;
  position: static;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

em,
b {
  font-weight: $font-weight-em;
}

strong {
  font-weight: $font-weight-bold;
}

label {
  vertical-align: middle;
  cursor: pointer;
}

pre,
code {
  font-family: inherit;
}

:disabled + label,
[disabled] + label {
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  -webkit-tap-highlight-color: transparent;
  cursor: default;
}

a,
button {
  @include tap-highlight;
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

input,
textarea,
select {
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  @include placeholder {
    color: $color-placeholder;
    text-align: inherit;
  }
}

input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s 0s;
  }
}

input::-ms-clear {
  display: none;
}

[tabindex='0'] {
  cursor: pointer;
}

.btn {
  appearance: none;
  border: none;
  background: none;
}